
body {
    background-image: linear-gradient(to right bottom, #fff, #fff);
    background-attachment: fixed;
}

.container {
    padding-top: 50px;
}

.row {
    height: 90vh;
    display: flex;
    justify-content:space-evenly ;
}

.container {
    padding-top: 50px;
}


a:hover {
    text-decoration: none;
    color: #000;
}

a {
    text-decoration: none;
    color: #354548;

}
/* Sidebar */
.app__sidebar {
    background-color: #fff;
    width:200px;
    height: 500px;
    border-radius: 20px;
    padding: 25px 15px;
    box-shadow: 0 0 10px rgb(28, 27, 27);
    display: inline-block;
    text-align: center;
    
}

.sidebar-avatar{
    height: 100px;
    width: 100px;
    border-radius:200%;

}

.sidebar-icon {
    width: 30px;
    height: 30px;
    margin-right: 3px;
    
}

.sidebar-icon-location {
    width: 35px;
    height: 35px;
}


.sidebar-item-email {

    background-image: linear-gradient(to right bottom);
    border-radius:15px;
    background-color: #ff0900;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 10px 0px;
    cursor: pointer;
    transition: all;
    font-family: 'Courier New', Courier, monospace;

}

.sidebar-name {
    font-weight: 20px, 0 ;
    font-family: 'Courier New', Courier, monospace;
}

.sidebar-title {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}

.sidebar-item {
    margin-bottom: 4px;
    margin-top: 10px;
    height: 25px;
    font-size: 1.05rem;
    border-radius: 30px;
    font-family: 'Courier New', Courier, monospace;
}

/* Main Content */

.app__main-content {
    background-color: #fff;
    width: 900px;
    height: 500px;
    
    border-radius: 20px;
    padding: 25px 15px;
    box-shadow: 0 0 10px black;
    display: inline-block;

}

@media(max-width:991px) {
    .app__main-content {
        margin: 30px 0;
    }
}        